# Archives of MiaoTony's Blog  

## Description  

博客文章归档，基于 GitHub Action 定期自动更新。  

欢迎光临我的博客呀~ [https://miaotony.xyz](https://miaotony.xyz)  

博客内所有文章除特別声明外，均采用 [CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/deed.zh) 许可协议。转载请注明来源 [MiaoTony](https://miaotony.xyz) !  

## Contact  

**GitHub:** https://github.com/miaotony **欢迎来 follow 呀！**  

**Telegram:** [@miaotony](https://t.me/miaotony)  

**Telegram Channel:** [@MiaoTonyChannel](https://t.me/MiaoTonyChannel)  

**Email:** bWlhb3RvbnlAb3V0bG9vay5jb20= | b64decode  

**欢迎大佬们来和我交换[友链](https://miaotony.xyz/friends)呀~**  

更多信息请前往[关于页面](https://miaotony.xyz/about/)，留言请移步到[留言板](https://miaotony.xyz/contact)，谢谢。  

## Archives  

**Update Time:** {{generate_time}}

{% for single_post in posts %}
### {{single_post.title}}  
{%- if single_post.category %}
{% for single_category in single_post.category %}[#{{single_category['term']}}]({{single_category['scheme']}})   {% endfor %}
{%- endif %}
{{single_post.publishTime}}  
[{{single_post.link}}]({{single_post.link}})  

{{single_post.summary}}  

{% endfor %}

## Copyright  

博客文章（除特别声明外）： [CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/deed.zh)  
本项目： [GNU Affero General Public License v3.0](https://github.com/miaotony/BlogArchives/blob/master/LICENSE)  
> Acknowledgment:   
> 项目开发过程中部分参考了 LogicJake 的 [rss-flow](https://github.com/LogicJake/rss-flow)，在此表示感谢。   

最终解释权归本项目开发者所有。  
The final interpretation right belongs to the developer of the project.  

Copyright © 2020 [MiaoTony](https://github.com/miaotony)  
